<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>{% block title %}Forum 4.0{% endblock %}</title>
    <script type="text/javascript">window.DYNAMIC_WIDGETS_URL = '{% url "dynamicwidget:widgets" %}';</script>
    {% block css %}
        <link rel="stylesheet" href="{% static "forum/css/styles.css" %}" type="text/css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.3.0/forms-min.css&pure/0.3.0/buttons-min.css">
    {% endblock %}
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="logo-container"></div>
            {% block sidebar_actions %}
            <div class="user-actions">
                {% if tags %}
                <div class="search-filter sidebar-item">
                    <span>filter topics</span>
                    <form class="pure-form filter-form" action="{% url "forum:topics-list" %}" method="GET">
                        {% for tag in tags %}
                            <label>
                                <input type="checkbox" name="tag" value="{{ tag.label }}" {% if tag.checked %}checked{% endif %}> {{ tag.label }}
                            </label>
                        {% endfor %}
                        <div class="right-align">
                            <button type="submit" class="pure-button">Filter topics</button>
                        </div>
                    </form>
                </div>
                {% endif %}
                <div dw-load="logged-user-actions"></div>
            </div>
            {% endblock %}
            <div class="sidebar-footer">
                <div class="login-area"><div dw-load="login-logout"></div></div>
            </div>
        </div>
        <div class="header">
            <div class="header-inner">
                <div class="header-left">
                    {% block forum_header %}{% endblock %}
                </div>
                <div class="header-right">
                    <div class="search-bar">
                        <form class="pure-form" action="{% url "forum:posts-search" %}" method="GET">
                            <input type="search" name="pattern" placeholder="search">
                            <button type="submit" class="pure-button pure-button-primary">search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
        {% block forum_content %}{% endblock %}
        </div>
    </div>
    {% block javascript %}
        <script src="{% static "forum/js/jquery.js" %}" type="text/javascript"></script>
        <script src="{% static "dynamicwidget/js/dynamicwidget.js" %}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>
