<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>{% block title %}Forum 4.0{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static "forum/css/styles.css" %}" type="text/css">
    {% endblock %}
</head>
<body>
    <div class="main">
        <div class="header">
            {% block forum_header %}
                <a href="{% url "forum:topics-list" %}">topics list</a>
                | <a href="{% url "forum:topic-create" %}">create topic</a>
            {% endblock %}
            | <span data-dynamic-widget="login-logout"></span>
        </div>
        <div class="content">
        {% block forum_content %}{% endblock %}
        </div>
    </div>
    {% block javascript %}
        <script src="{% static "forum/js/jquery.js" %}" type="text/javascript"></script>
        <script src="{% static "dynamicwidget/js/dynamicwidget.js" %}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                $('[data-dynamic-widget]').dynamicWidget({url: '{% url "dynamicwidget:widgets" %}'});
            });
        </script>
    {% endblock %}
</body>
</html>
