{% extends "forum/base.html" %}

{% load avatar markup %}


{% block forum_header %}
    {{ block.super }}
        <a href="{% url "forum:topics-list" %}"><i class="fa fa-angle-double-left fa-fw"></i>back to topics list</a>
{% endblock %}

{% block sidebar_actions %}
    {{ block.super }}
    <div dw-load="topic-attributes:{{ topic.id }}"></div>
{% endblock %}

{% block forum_content %}
    <div class="topic-title">
        <h1>{{ topic.subject }}</h1>
        <span class="tags">
            {% if topic.is_closed %}<span class="tag closed"><i class="fa fa-ban fa-fw"></i>closed</span>{% endif %}
            {% if topic.is_solved %}<span class="tag solved"><i class="fa fa-check fa-fw"></i>solved</span>{% endif %}
            {% for tag in topic.tags.all %}<span class="tag">{% if forloop.first %}<i class="fa fa-tags fa-fw"></i>{% endif %}{{ tag }}{% if not forloop.last %},{% endif %}</span>{% endfor %}
        </span>
    </div>

    <div class="table posts-list">
        {% for post in posts %}
            <div class="row" id="post-{{ post.id }}">
                <div class="col">
                    {% avatar_tag post.author.email 76 %}
                    {% if post.is_solving %}<p class="solving"><i class="fa fa-check fa-fw"></i>solving</p>{% endif %}
                </div>
                <div class="col">
                    <div class="post">
                        <div class="options-bar" dw-hover="post-attributes:{{ post.id }}">
                            <div class="options-icon"><i class="fa fa-cog fa-lg"></i></div>
                        </div>
                        <span class="flag new" dw-load="post-is-new:{{ post.id }}"></span>
                        <span class="meta small"><a href="{% url "forum:user-details" post.author.pk %}">{{ post.author.username }}</a>, {{ post.created }}</span>
                        <p>{{ post.content|markup:"markdown" }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            No posts
        {% endfor %}
    </div>

    {% if not page.has_next %}
        {# we're able to comment only from the lasts page #}
        <div class="table new-post" dw-load="topic-comment-form:{{ topic.id }}"></div>
    {% endif %}

    <div class="pagination">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </div>
{% endblock %}
