{% extends "forum/base.html" %}


{% block forum_header %}
    {{ block.super }}
    | <a href="{% url "forum:post-create" topic_pk=topic.pk %}">crate post</a>
{% endblock %}


{% block forum_content %}
    <div class="box box-shadow">
        <h1>{{ topic.subject }}</h1>
        <p>{% for tag in topic.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    </div>

    <div class="box">
        {% for post in posts %}
            <div class="row-fluid box">
                <div class="span1">
                    <img src="{{ post.author.avatar_url }}?size=80x80" style="width:80px;height:80px">
                </div>
                <div class="span11 box-shadow">
                    <p>{{ post.content }}</p>
                    by {{ post.author.username }}, {{ post.created }}
                </div>
            </div>
        {% empty %}
            No posts
        {% endfor %}
    </div>

    <div class="box box-shadow">
        <form action="{% url "forum:post-create" topic_pk=topic.pk %}" method="POST">
            {{ post_form.as_p }}
            {% csrf_token %}
            <button type="submit">create</button>
        </form>
    </div>

    <div class="box box-shadow text-center">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </div>
{% endblock %}
