{% extends "forum/base.html" %}

{% load avatar %}


{% block forum_header %}
    {{ block.super }}
    | <a href="{% url "forum:post-create" topic_pk=topic.pk %}">crate post</a>
{% endblock %}


{% block forum_content %}
    <div class="box box-shadow">
        <h1>{{ topic.subject }}</h1>
        <p>{% for tag in topic.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    </div>

    <div class="box">
        {% for post in posts %}
            <div class="row-fluid box">
                <div class="span1">
                    <span data-dynamic-widget="post-is-new:{{ post.id }}"></span>
                    {% avatar_tag post.author.email 128 %}
                </div>
                <div class="span11 box-shadow">
                    <p>{{ post.content }}</p>
                    by {{ post.author.username }}, {{ post.created }}
                </div>
            </div>
        {% empty %}
            No posts
        {% endfor %}
    </div>

    <div class="box box-shadow" data-dynamic-widget="topic-comment-form:{{ topic.id }}"></div>

    <div class="box box-shadow text-center">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </div>
{% endblock %}
