{% extends "forum/base.html" %}


{% load staticfiles %}


{% block javascript %}
    {{ block.super }}
    <script src="{% static "core/js/iso8601.js" %}" type="text/javascript"></script>
    <script src="{% static "core/js/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "forum/js/unseen.js" %}" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('.topic-unread').markUnseen({apiUrl: '{% url "forum:api-user-profile" %}'});
        });
    </script>
{% endblock %}


{% block forum_header %}
    {{ block.super }}
    | <a href="{% url "forum:mark-all-topics-read" %}">mark topics as read</a>
{% endblock %}


{% block forum_content %}
    {% for topic in topics %}
        <div>
            <span class="topic-unread" data-topic-id="{{ topic.id }}" data-topic-updated="{{ topic.updated.isoformat }}"></span>
            <a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a>
            by {{ topic.author.username }}
            <small>{% for tag in topic.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</small>
            <small title="{{ topic.updated }}">, created {{ topic.updated|timesince }} ago</small>
        </div>
    {% empty %}
        No topics
    {% endfor %}

    <hr>
    <div>
        {% if topics.has_previous %}
            <a href="?page={{ topics.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
        </span>

        {% if topics.has_next %}
            <a href="?page={{ topics.next_page_number }}">next</a>
        {% endif %}
    </div>
{% endblock %}
