{% extends "forum/base.html" %}


{% load staticfiles urlquery avatar %}


{% block forum_header %}
    <div class="search-bar">
        <div class="search-top">
            <form action="{% url "forum:posts-search" %}" method="GET">
                <input type="search" name="pattern">
                <button type="submit">P</button>
            </form>
        </div>
        <div class="search-filter">
            <form action="{% url "forum:topics-list" %}" method="GET">

                {% for tag in tags %}
                    <label>
                        <input type="checkbox" name="tag" value="{{ tag.label }}" {% if tag.checked %}checked{% endif %}> {{ tag.label }}
                    </label>
                {% endfor %}
                <button type="submit">Filter topics</button>
            </form>
        </div>
    </div>
    {{ block.super }}
{% endblock %}


{% block forum_content %}

    <div class="topic-list">
        {% for topic in topics %}
            <div class="table expand topic">
                <div class="avatar">
                    {% avatar_tag topic.author.email 30 %}
                </div>
                <div class="topic-main">
                    <a href="{{ topic.get_absolute_url }}" data-dynamic-widget="topic-is-new:{{ topic.id }}">{{ topic.subject }}</a>
                    <div class="tags">
                        {% for tag in topic.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}
                    </div>

                    <div class="topic-meta">
                        {% if topic.response_count %}
                            {{ topic.response_count }} response{{ topic.response_count|pluralize }}
                        {% else %}
                            no responses
                        {% endif %}
                        &bull;
                        <span data-dynamic-widget="topic-view-count:{{ topic.id }}">- views</span>
                        &bull;
                        <span title="{{ topic.updated }}">created {{ topic.updated|timesince }} ago</span>
                        {% if topic.posts_count > POSTS_PER_PAGE %}
                            &bull;
                            <a href="{% url "forum:posts-list-last-page" topic_pk=topic.pk %}">last page</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            No topics
        {% endfor %}
    </div>

    <div class="pagination">
        {% if topics.has_previous %}
        <a href="?{% urlquery_set request page=topics.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
        </span>

        {% if topics.has_next %}
            <a href="?{% urlquery_set request page=topics.next_page_number %}">next</a>
        {% endif %}
    </div>
{% endblock %}
