.header {
  background: $bgLevel2;
  margin: 0 auto 20px auto;
  padding: 18px 5%;
  position: relative;


  .login-area {
    position: absolute;
    right: 5%;
    top: 18px;
  }

  .search-bar {
    width: 200px;
    background: inherit;
    display: inline-block;
    &:hover {
      .search-filter {
        display: block;
      }
    }
  }

  .search-top {

  }

  .search-filter {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background: inherit;

    form {
      margin-left: 5%;
    }
  }
}
