.topic-title {
  width: 96%;
  margin: 0 auto;
  h1 {
    display: inline-block;
    font-weight: bold;
    padding: 8px;
  }
  .tags {
    display: inline-block;
  }
}

.posts-list {
  width: 96%;
  margin: auto;
  .col {
    padding: 8px 0;
    vertical-align: top;

    &:first-child {
      padding: 8px 24px 8px 0;
      width: 76px;
    }

    img {
      @include border-radius(2px);
    }
    .post {
      position: relative;
      background: $colorWhite;
      padding: 4px 8px;
      min-height: 68px;
      line-height: 1.5em;
      border: 1px solid $colorLightGrey;
      @include border-radius(6px);

      &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 14px 14px 0;
        border-color: transparent $colorWhite;
        display: block;
        width: 0;
        z-index: 1;
        left: -14px;
        top: 20px;
      }

      &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 14px 14px 0;
        border-color: transparent $colorLightGrey;
        display: block;
        width: 0;
        z-index: 0;
        left: -15px;
        top: 20px;
      }
      &:hover {
        .post-options {
            display: block;
        }
      }
    }

    .meta {
      color: $colorGrey;
      line-height: 2em;
    }
  }
}

.new-post {
  width: 96%;
  margin: 8px auto;

  .col {
    vertical-align: top;
    position: relative;
    text-align: right;
    &:last-child {
      width: 92px;
    }

    textarea {
      position: relative;
      background: $colorWhite;
      padding: 4px 1%;
      min-height: 64px;
      line-height: 1.5em;
      border: 1px solid $colorLightGrey;
      @include border-radius(6px);
      width: 98%;
      max-width: 98%;
      outline: none;
      transition: 0.3s linear border-color;

      &:focus {
        border-color: $colorShinyBlue;

        & + .arrow-border {
          border-color: transparent $colorShinyBlue;
        }
      }
    }
    .arrow-fill {
        position: absolute;
        border-style: solid;
        border-width: 0 0 14px 14px;
        border-color: transparent $colorWhite;
        display: block;
        width: 0;
        z-index: 1;
        right: -13px;
        top: 20px;
      }

      .arrow-border {
        position: absolute;
        border-style: solid;
        border-width: 0 0 14px 14px;
        border-color: transparent $colorLightGrey;
        display: block;
        width: 0;
        z-index: 0;
        right: -14px;
        top: 20px;
        transition: 0.3s linear border-color;
      }
  }
}

.options-bar {
  position: absolute;
  top: 0;
  right: 0px;
  width: 0px;
  background: $colorWhite;
  border-bottom: 1px solid $colorLightGrey;
  @include border-top-right-radius(6px);
  @include border-bottom-left-radius(6px);
  transition: width .2s linear;

  &:hover {
    width: 70%;
    border-left: 1px solid $colorLightGrey;
    box-shadow: -2px 2px 5px 0px $colorLightGrey;

    .options-icon {
      left: 0;
      color: $colorWhite;
    }

    .options-content {
      width: 90%;
    }
  }

  .options-icon {
    position: absolute;
    top: 0;
    left: -28px;
    width: 16px;
    height: 16px;
    background: transparent;
    @include border-bottom-left-radius(6px);
    @include border-top-right-radius(6px);
    font-size: 16px;
    padding: 6px;
    line-height: 1em;
    transition: left .2s linear;
  }

  .options-content {
    width: 0;
    overflow: hidden;
    transition: width .2s linear;
  }

  .title {
    display: inline-block;
    padding: 4px 10px 4px 35px;
    vertical-align: top;
    background: $colorDarkerGrey;
    color: $colorWhite;
  }

  .options {
    min-width: 500px;
  }

  .option {
    display: inline-block;
    margin: 4px 0 0 8px;
    vertical-align: top;
    padding: 10px 4px 14px 0;
    &:hover {
      color: $colorShinyBlue;
    }
    &.disabled:hover {
      color: inherit;
    }
  }

/*
  .post-history {
    display: block;
    font-size: $fontSizeSmall;
    + ul {
      li {
        font-size: $fontSizeSmall;
      }
    }
  }
*/
}


