.search-results {
    width: 90%;
    margin: auto;
}

.results {
    box-shadow: 1px 1px 3px -1px $colorGrey;
    margin: 16px auto;
    padding: 8px;
    background: $colorWhite;
}

.marked-pattern {
    background: $colorLightYellow;
}
