p.solving {
  color: $colorLighterGreen;
  margin-top: 8px;
}

.tag {
  margin: 0 4px;
  padding: 2px 0;

  &.solved {
    color: $colorLighterGreen;
  }

  &.closed {
    color: $colorLighterRed;
  }
}
