.topic-list {
  width: 90%;
  margin: auto;

  .topic {
    position: relative;
    table-layout: fixed;
    background: $colorWhite;
    border-bottom: 1px solid $colorLightGrey;
  }

  .avatar {
    line-height: 0;
    width: 36px;
    padding: 0 0 0 8px;
    display: table-cell;
    vertical-align: middle;
  }

  .topic-main {
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 6px 8px 2px 8px;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      white-space: nowrap;
      text-decoration: none;
    }

    .new {
      font-weight: bold;
    }

    .closed {
      // todo: add icon with :before
    }

    .solved {
      // todo: add icon with :before
    }

    .tags {
      font-size: $fontSizeSmall;
      position: absolute;
      right: 4px;
      bottom: 4px;
    }

    .topic-meta {
      font-size: $fontSizeTiny;
      color: $colorGrey;
      span {
        color: $colorGrey;
      }
    }
  }
}

.search-bar {
  display: table-cell;
  //width: 270px;
  background: inherit;

  input {
    border: 1px solid #ddd;
    padding: 2px 4px;
    outline: none;
  }
}

.search-filter {
  display: table-cell;
  text-align: right;
  padding: 8px 0;
  label {
    display: inline-block;
    margin-right: 16px;
    line-height: 1.8em;
    input {
      vertical-align: middle;
    }
  }
  button {
    display: inline-block;
    vertical-align: middle;
  }

}
