.topic-list {
  width: 96%;
  margin: auto;

  .topic {
    position: relative;
    table-layout: fixed;
    background: $colorWhite;
    border-bottom: 1px solid $colorLightGrey;
  }

  .avatar {
    line-height: 0;
    width: 36px;
    padding: 0 0 0 8px;
    display: table-cell;
    vertical-align: middle;
  }

  .topic-main {
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 8px 10px 4px 10px;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      white-space: nowrap;
      text-decoration: none;
      font-size: $fontSizeBig;
    }

    .new {
      font-weight: bold;
    }

    .closed {
      // todo: add icon with :before
    }

    .solved {
      // todo: add icon with :before
    }

    .tags {
      font-size: $fontSizeSmall;
      position: absolute;
      right: 4px;
      bottom: 4px;
    }

    .topic-meta {
      font-size: fontSizeBase;
      color: $colorGrey;
      span {
        color: $colorGrey;
      }
    }
  }
}
