.topic-list {
  width: 80%;
  margin: auto;

  .topic {
    table-layout: fixed;
    background: $bgLevel2;
    border-bottom: 1px solid $colorLightGrey;
  }

  .avatar {
    line-height: 0;
    width: 36px;
    padding: 0 0 0 8px;
    display: table-cell;
    vertical-align: middle;
  }

  .topic-main {
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 6px 8px 2px 8px;
    line-height: 1.2em;

    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
    }

    .new {
      font-weight: bold;
    }

    .closed {
    }

    .solved {
    }

    .tags {
      font-size: $fontSizeSmall;
      position: absolute;
      right: 4px;
      bottom: 4px;
    }

    .topic-meta {
      font-size: $fontSizeTiny;
      color: $colorGrey;
      span {
        color: $colorGrey;
      }
    }
  }

}
