html,
body {
    color: #333333;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 14px;
}

a           { color: #4D5EE8; text-decoration: none; }
a:hover     { color: #D60B00; }
a:visited   { color: #844DE8; }

hr          { border: 0; height: 1px; background-color: #B8B8B8; }
