html,
body {
    background: #FBFBFB;
    color: #333333;
    font-size: 13px;
    font-family: sans-serif;
    line-height: 15px;
}

a           { color: #4D5EE8; text-decoration: none; }
a:hover     { color: #D60B00; }
a:visited   { color: #844DE8; }


.box-shadow {
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px #eee;
    max-width: 1100px;
    background: #fff;
    padding: 10px;
}

.box {
    margin: 10px auto;
    max-width: 1100px;
    padding: 10px;
}
