html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

p, span, div, em {
  color: #333333; }
  p.small, span.small, div.small, em.small {
    font-size: 12px; }

a {
  color: #0088cc; }

.hidden {
  display: none; }

.table {
  display: table;
  border-collapse: collapse; }
  .table.expand {
    width: 100%; }

.row {
  display: table-row;
  width: 100%; }

.col {
  display: table-cell;
  vertical-align: middle; }
  .col.fluid-1 {
    width: 8.3%; }
  .col.fluid-2 {
    width: 16.7%; }
  .col.fluid-3 {
    width: 25%; }
  .col.fluid-4 {
    width: 33.3%; }
  .col.fluid-5 {
    width: 41.6%; }
  .col.fluid-6 {
    width: 50%; }
  .col.fluid-7 {
    width: 58.3%; }
  .col.fluid-8 {
    width: 66.6%; }
  .col.fluid-9 {
    width: 75%; }
  .col.fluid-10 {
    width: 83.3%; }
  .col.fluid-11 {
    width: 91.6%; }
  .col.fluid-12 {
    width: 100%; }

html, body {
  min-height: 100%;
  background-color: #eeeeee; }

.main {
  width: 100%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 14px; }

.content {
  margin: auto; }

.header {
  background-color: white;
  margin: auto;
  padding: 1%;
  border-bottom: 5px solid #0088cc; }

.tag {
  margin: 0 4px; }
  .tag.solved {
    background: #bbffbb;
    padding: 0 4px; }
  .tag.closed {
    background: #ffbbbb;
    padding: 0 4px; }

.topic-list {
  background: white;
  table-layout: fixed; }
  .topic-list .row {
    border-bottom: 1px solid #ebf1f5; }
  .topic-list .col {
    padding: 6px 8px;
    overflow: hidden;
    max-width: 439px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.6em; }
    .topic-list .col:first-child {
      line-height: 0;
      width: 36px; }
    .topic-list .col:last-child {
      text-align: right; }
    .topic-list .col.right-align {
      text-align: right; }
  .topic-list .topic-col a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; }

.topic-title {
  width: 80%;
  margin: 14px auto; }
  .topic-title h1 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    color: #333333; }
  .topic-title .tag {
    display: inline-block; }

.posts-list {
  width: 80%;
  margin: auto; }
  .posts-list .col {
    padding: 8px 0;
    vertical-align: top; }
    .posts-list .col:first-child {
      padding: 8px 16px 8px 0; }
    .posts-list .col img {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
    .posts-list .col .post {
      position: relative;
      background: white;
      padding: 4px 8px;
      min-height: 68px;
      line-height: 1.5em;
      border: 1px solid #dddddd;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px; }
      .posts-list .col .post:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 14px 14px 0;
        border-color: transparent white;
        display: block;
        width: 0;
        z-index: 1;
        left: -14px;
        top: 20px; }
      .posts-list .col .post:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 14px 14px 0;
        border-color: transparent #dddddd;
        display: block;
        width: 0;
        z-index: 0;
        left: -15px;
        top: 20px; }
    .posts-list .col .meta {
      color: #566579;
      line-height: 2em; }

.pagination {
  background: #333333;
  padding: 8px;
  text-align: center;
  border-top: 5px solid #0088cc; }
  .pagination span {
    color: white; }
