.hidden {
  display: none;
}

.table {
  display: table;
  border-collapse: collapse;
  &.expand {
    width: 100%;
  }
}

.row {
  display: table-row;
  width: 100%;
}

.col {
  display: table-cell;
  vertical-align: middle;
}

html, body {
  min-height: 100%;
  background-color: $colorLighterGrey;
}

.main {
  width: 100%;
  margin: 0 auto;
  font-family: $fontFamilyMain;
  font-size: $fontSizeBase;
}

.content {
  margin: auto;
}
