$colorWhite: #fff;

$colorVeryLightBlue: #f6f9fc;
$colorLightBlue: #ebf1f5;
$colorShinyBlue: #08c;

$colorLightRed: #fbb;

$colorLightGreen: #bfb;

$colorLighterGrey: #eee;
$colorLightGrey: #ddd;
$colorGrey: #566579;
$colorDarkGrey: #333;


$bgLevel1: $colorLighterGrey;
$bgLevel2: $colorWhite;
$bgLevel3: $colorVeryLightBlue;

$textPrimary: $colorDarkGrey;
$textHighlight: $colorShinyBlue;

$tagSolved: $colorLightGreen;
$tagClosed: $colorLightRed;

$shadowColor: $colorGrey;
