$colorWhite: #fff;

$colorVeryLightBlue: #f6f9fc;
$colorLightBlue: #ebf1f5;
$colorShinyBlue: #08c;

$colorLightRed: #c22;
$colorLighterRed: #f22;

$colorLightGreen: #262;
$colorLighterGreen: #2a2;

$colorLightYellow: #ff8;

$colorLighterGrey: #eee;
$colorLightGrey: #ddd;
$colorGrey: #566579;
$colorDarkGrey: #808080;
$colorDarkerGrey: #383838;

$textPrimary: $colorDarkGrey;
$textHighlight: $colorDarkerGrey;
