$fontFamilyMain: arial, sans-serif;
$fontSizeBase: 14px;
$fontSizeSmall: 12px;
$fontSizeTiny: 10px;
$fontSizeBig: 15px;
$fontSizeHuge: 24px;

a, a:visited, a:hover, a:active, a:link {
  text-decoration: none;
}

.content {
  p, div, em {
    color: $textPrimary;

    &.small {
      font-size: $fontSizeSmall;
    }
    &.tiny {
      font-size: $fontSizeTiny;
    }
  }
  a, a > span {
    color: $textHighlight;
  }

  h1 {
    font-size: $fontSizeHuge;
    color: $colorDarkerGrey
  }
}



