$fontFamilyMain: "Helvetica Neue", Helvetica, arial, sans-serif;
$fontSizeBase: 14px;
$fontSizeSmall: 11px;
$fontSizeTiny: 10px;
$fontSizeBig: 18px;
$fontSizeHuge: 24px;

p, div, em {
  color: $textPrimary;

  &.small {
    font-size: $fontSizeSmall;
  }
  &.tiny {
    font-size: $fontSizeTiny;
  }
}

h1 {
  font-size: $fontSizeHuge;
  color: $colorDarkerGrey
}

a, a > span {
  color: $textHighlight;
}
