$fontFamilyMain: arial, sans-serif;
$fontSizeBase: 12px;
$fontSizeSmall: 11px;
$fontSizeBig: 14px;

p, span, div, em {
  color: $textPrimary;

  &.small {
    font-size: $fontSizeSmall;
  }
}

a {
  color: $textHighlight;
}
