<a class="tooltip">
    <span class="tooltip-head">hover me</span>
    <span class="tooltip-body"><span class="tooltip-text">I hovered you, what should I do next?</span></span>
</a>
{% if can_edit %}
    <a href="{% url "forum:post-edit" topic_pk=post.topic_id post_pk=post.pk %}">edit</a>
{% endif %}

{% if can_delete %}
    <a href="{% url "forum:post-toggle-delete" topic_pk=post.topic_id post_pk=post.pk %}">
        {% if post.is_deleted %}
            recover
        {% else %}
            delete
        {% endif %}
    </a>
{% endif %}

{% if can_report_as_spam %}
    <a href="{% url "forum:post-report-as-spam" topic_pk=post.topic_id post_pk=post.pk %}">
        report as spam
    </a>
{% endif %}

{% if can_solve %}
    <a href="{% url "forum:post-toggle-is-solving" topic_pk=post.topic_id post_pk=post.pk %}">
        {% if post.is_solving %}
            post is not solving the problem - remove the mark
        {% endif %}
            mark post as solving the problem
        {% else %}
    </a>
{% endif %}

