{% if can_delete %}
    <a class="sidebar-item" href="{% url "forum:topic-toggle-delete" topic_pk=topic.pk %}">
        {% if topic.is_deleted %}
            recover
        {% else %}
            delete
        {% endif %}
    </a>
{% endif %}

{% if can_report_as_spam %}
    <a class="sidebar-item" href="{% url "forum:topic-report-as-spam" topic_pk=topic.pk %}">
        report as spam
    </a>
{% endif %}

{% if can_close %}
    <a class="sidebar-item" href="{% url "forum:topic-toggle-close" topic_pk=topic.pk %}">
        {% if topic.is_closed %}
            open
        {% else %}
            close
        {% endif %}
    </a>
{% endif %}
